*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/
ehthumbs.db
Thumbs.db